<div id="wrap">
  <div id="header">
    <h1><a href="./">Cloud Foundry BOSH CLI installer</a></h1>
    <p id="subtitle"><strong>One-line command to download, unpackage the Cloud Foundry BOSH CLI for your machine</strong>.<br \>
      No need to correctly install a modern version of Ruby and its vast dependencies.</p>
  </div>

  <div id="informations">
    <ul>
      <li>
        <div class="group row">
          <div class="col-1">
            <p>Target any BOSH director</p>
          </div>
          <div class="col-2">
            <pre><code><span style="color: #e3d796;">$</span> <%= cli_name %> target 10.10.0.3
<span style="color: #e3d796;">$</span> <%= cli_name %> login</code>
<span style="color: #e3d796;">$</span> <%= cli_name %> status</code></pre>
          </div>
        </div>
      </li>

      <li>
        <div class="group row">
          <div class="col-1">
            <p>List of current system deployments, and the releases &amp; stemcells being used</p>
          </div>
          <div class="col-2">
            <pre><code><span style="color: #e3d796;">$</span> <%= cli_name %> deployments</code>
<span style="color: #e3d796;">$</span> <%= cli_name %> releases</code>
<span style="color: #e3d796;">$</span> <%= cli_name %> stemcells</code></pre>
          </div>
        </div>
      </li>

      <li>
        <div class="group row">
          <div class="col-1">
            <p>Download a deployment manifest, edit it, and apply changes</p>
          </div>
          <div class="col-2">
            <pre><code><span style="color: #e3d796;">$</span> <%= cli_name %> download manifest cf-prod > cf-prod.yml</code>
<span style="color: #e3d796;">$</span> <%= cli_name %> deployment cf-prod.yml</code>
<span style="color: #e3d796;">$</span> <%= cli_name %> edit deployment</code>
<span style="color: #e3d796;">$</span> <%= cli_name %> deploy</code></pre>
          </div>
        </div>
      </li>

      <li>
        <div class="group row">
          <h2>Install CLI for OS/X and Linux</h2>
          <pre style="clear:both;text-align:center;margin:0 -3em;margin-bottom:0.9em"><code class="selectable" id="selectable-curl" onclick="selectText('selectable-curl')">curl -k -s <%= curl_uri %> | bash</code></pre>
          <div class="col-1">
            <p>Paste into Terminal prompt.</p>
          </div>
          <div class="col-2">
            <p>The script only places the <code><%= cli_name %></code> executable in your current folder.</p>
          </div>
        </div>
      </li>

      <li>
        <div class="group row">
          <h2>Install with RubyGems</h2>
          <pre style="clear:both;text-align:center;margin:0 -3em;margin-bottom:0.9em"><code class="selectable" id="selectable-gem" onclick="selectText('selectable-gem')">gem install bosh_cli_plugin_micro</code></pre>
          <div class="col-1">
            <p>Paste into Terminal prompt.</p>
          </div>
          <div class="col-2">
            <p>BOSH CLI requires Ruby 2.1+</p>
          </div>
        </div>
      </li>

      <li>
        <div class="group row">
          <h2>Documentation</h2>
          <div class="button">
            <p>
              <a href="http://bosh.cloudfoundry.org/">BOSH Homepage</a>
              &nbsp;
              <a href="https://groups.google.com/a/cloudfoundry.org/forum/#!forum/bosh-users">BOSH Users Mailing list</a>
              &nbsp;
              <a href="http://docs.cloudfoundry.org/bosh/">BOSH Documentation</a>
              &nbsp;
              <a href="https://github.com/cloudfoundry-community/traveling-bosh">Traveling BOSH</a>
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="group row credits">
          <p>Cloud Foundry BOSH sponsored by <a href="http://gopivotal.com/">Pivotal</a>. This installer project by <a href="http://starkandwayne.com">Stark &amp; Wayne</a> and <a href="http://drnicwilliams.com">Dr Nic Williams</a>. Original website for <a href="http://brew.sh/">Homebrew</a> by <a href="http://exomel.com">Rémi Prévost</a>. </p>
        </div>
      </li>
    </ul>
  </div>
</div>
